@font-face {
   font-family: 'Jost-Medium';
   font-display: swap;
   src: url('file:///C:/Users/Test/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-03_204556/fonts/Jost-Medium/font.ttf');
}
